{% extends "base.html" %}

{% block title %}SoundCentral Home{% endblock %}

{% block content %}
 <!-- Create a div with class "container" to wrap the heading -->
 <div class="container">
    <!-- Create a div with class "row" to create a grid row -->
    <div class="row">
        <!-- Create a div with class "col" to create a grid column -->
        <div class="col">
            <!-- Create a heading element with class "text-center" to center the text horizontally -->
            <h1 class="text-center">SoundCentral</h1>
        </div>
    </div>
    <div class="container">
        <!-- Create a form element with class "form-inline" to make the input and button on the same line -->
        <form class="form-inline">
            <!-- Create an input element with class "form-control" and type "text" to create a text field -->
            <input type="text" class="form-control" placeholder="Enter a public playlist link">
            <!-- Create a button element with class "btn btn-primary" and type "submit" to create a button -->
            <button type="submit" class="btn btn-primary">Go</button>
        </form>
    </div>
</div>
{% endblock %}